<form method="post" action="{{ path('api_character_delete', {'identifier': character.identifier}) }}" onsubmit="return confirm('Etes-vous sur de vouloir bannir ce membre de la Guilde ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ character.identifier) }}">
    <button type="submit" class="btn-medieval btn-blood">Bannir de la Guilde</button>
</form>
