{{ form_start(form) }}
    {{ form_widget(form) }}
    <div style="text-align: center; margin-top: 1rem;">
        <button class="btn-medieval btn-forest" type="submit">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
