{% extends 'base.html.twig' %}

{% block title %}Recruter un membre - La Guilde des Seigneurs{% endblock %}

{% block body %}
    <h1>Recruter un nouveau membre</h1>

    <div class="card-medieval">
        {{ include('api-character/_form.html.twig') }}

        <div style="text-align: center; margin-top: 1rem;">
            <a href="{{ path('api_character_index') }}" class="btn-medieval btn-stone">Retour a la Guilde</a>
        </div>
    </div>
{% endblock %}
